body {
  background-color: burlywood
  ;
}
.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  padding: 30px;
  gap: 50px;
}

.book {
  border: 4px solid black;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.author {
  font-size: 18px;
  font-weight: bold;
}

.pages, 
.isRead {
  font-size: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-btn {
  font-size: 22px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.add-btn:hover {
  border: 2px solid black;
  border-radius: 15px;
}

#new-book-dialog {
  background-color: rgb(236, 236, 236);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  justify-items: center;
}

#new-book-dialog > h2 {
  font-weight: bold;
  font-size: 25px;
}

#new-book-form {
  display: grid;
  grid-template-rows: repeat(4, 40px) 50px;
  gap: 25px;
}

#new-book-form > input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 250px;
  height: 2em;
}

#read-status {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#submit-btn {
  background-color: rgb(165, 165, 165);
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}